
/* CSS reset */
header, body, p, h1, h2, h3, h4, footer{
    padding: 0; 
    margin: 0;
}
  
/*box model fix here*/
*{ -moz-box-sizing: border-box; -webkit-box-sizing: border-box;  box-sizing: border-box; 
}
 
html{
   background:rgb(231, 231, 231);
   font-family: 'Ubuntu', sans-serif;
   background-color: #c2946f;
}

div#wrapper{
    margin-left:170px;
    margin-right: 150px;
    max-width: 1100px;
    box-shadow: 0 0 20px #444;
    /*padding-inline: 100px;*/
    background-color: white;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 1080px;
    height: 260px;
    /*margin-bottom: 15px;*/
    background-image: url("../images/tree_orchard.jpg");
    background-repeat: no-repeat;
    background-size: 1029px 260px; 
}

/* putting in the top header h1-h2*/
#company {
    color: rgb(24, 245, 4);
    font-size: 3.25rem;
    padding-top: 20px;
    text-shadow: 3px 3px rgb(39, 39, 39);
    text-indent: 20px;
    margin: 0 170px 30px 10px;
}

#slogan {
    color:rgb(24, 245, 4);
    font-size: 2rem, ;
    padding-top: 20px;
    margin-left: 40px;
    text-shadow: 3px 3px rgb(2, 2, 2);
    text-indent: 5px;
}


/* main body stuff*/ 
main, footer {
    display: block;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    margin: 0 auto;
    background-color:rgb(231, 231, 231);
    clear:both;
}

h1 {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: left;
    color:#048000;
    padding-top: 20px;
    margin-bottom: 15px;
    text-indent: 30px;
}

h2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    color: #048000;
    margin: 10px 0 5px 0;
    text-indent: 30px;
}

         
.objective {
    list-style-type: circle;
    text-indent: 40px;
    margin-bottom: 40px;

}

#pageName {
    display: block;
    /*height: 150vh;*/
    background-color:rgb(231, 231, 231);
    margin-bottom: 80px;
    clear: both;
}


button {
    display: block;
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgb(163, 245, 163);
    width: 320px;
    font-size: 16px;
    color: black;
    padding:3px;
    margin-left:31px;
    margin-bottom: 5px;
}

article {
    float: left;
    width: 60%;
    background-color:rgb(231, 231, 231);
}

aside {
    float: left;
    width: 40%; 
    text-align: center;
    background-color:rgb(231, 231, 231);
    
}
    
main div #displayResults {
    background-color: lightgreen;
    margin-left: 2%;
    padding: .2em 4%;
    line-height: 150%;
    
    }
}

main div #displayResults span {
    color: red;
}

main div #error {
    background-color: rgb(135, 255, 65);
    padding-right: 140px;
    padding: 10px;
    margin-left: 2%;
    color: red;
}  

footer{
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#552d05;
    font-size: 14px;
    text-align: center;
    margin: 70px 0 10px 0;
    margin-top: 140px;
    max-width: 1920px;
    padding: 20px;
    color: white;
}