
/* CSS reset */
header, body, p, h1, h2, h3, h4, footer{
    padding: 0; 
    margin: 0;
}
  
/*box model fix here*/
*{ -moz-box-sizing: border-box; -webkit-box-sizing: border-box;  box-sizing: border-box; 
}
  
html{
   background:rgb(231, 231, 231);
   font-family: 'Ubuntu', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    max-width: 1080px;
    height: 300px;
    margin: 0 50px 15px 60px;
    background-image: url("../images/tree_orchard.jpg");
    background-repeat: no-repeat;
    background-size: 1080px 300px;
    
}

main,
footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: left;
    max-width: 1080px;
    margin: 0 auto;
    background-color:#593C1F;
}

h1 {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: left;
    color:#048000;
    margin-bottom: 15px;
}

h2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: left;
    color: #048000;
}

/* putting in the top header h1-h2*/
#company {
    color: rgb(24, 245, 4);
    font-size: 3.25rem;
    padding-top: 20px;
    text-shadow: 3px 3px rgb(54, 54, 54);
    text-indent: 20px;
    margin: 0 170px 30px 10px;
}

#slogan {
    color:rgb(24, 245, 4);
    font-size: 2rem, ;
    padding-top: 20px;
    margin-left: 40px;
    text-shadow: 3px 3px rgb(27, 27, 27);
    /*text-indent: 10px;*/
}

/* main body stuff*/           
.objective {
    list-style-type: circle;
}

#pageName {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    /*color: white;*/
    width: 80%;
    height: 70vh;
    background-color:rgb(231, 231, 231);
}

footer{
    clear: both;
    background-color:#552d05;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    text-align: center;
    margin: 70px 0 10px 0;
    max-width: 1920px;
    padding: 20px;
    color: white;
}