
/* CSS reset */
header, body, p, h1, h2, h3, h4, footer{
    padding: 0; 
    margin: 0;
  }
  
  /*box model fix here*/
  *{ -moz-box-sizing: border-box; -webkit-box-sizing: border-box;  box-sizing: border-box; 
  }
  
  html{
   background: darkgoldenrod;
  }
header {
    max_width: 960px;
    height: 400px;
    margin: 0 auto;
    /*border: 1px solid blue;*/
    background-image: url("../images/outdoor-padio.jpg");
    background-repeat: no-repeat;
    background-size: 960px 400px;
    font-size: 60px;
    color: #fff;
    text-shadow: 3px 3px #000;
    text-indent: 20px;
}

main,
footer {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    max-width: 960px;
    margin: 0 auto;
    background-color: darkgoldenrod;
}

h1 {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    /*border: 1px solid red;*/
    color: #000;
    /*font-size: 16rem;*/
}

h2 {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    color: #000;
}

#pageName {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    /*color: white;*/
    width: 80%;
    height: 90vh;
    background-color: darkgoldenrod;
}
footer{
    background-color: brown;
    font-size:1.25em;
    text-align: center;
    margin-bottom:20px;
    padding: 20px;

}